<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>gerenciador</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.manager.controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>MonitoringFilter</filter-name>
    <filter-class>com.manager.controller.MonitoringFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MonitoringFilter</filter-name>
    <url-pattern>/mainServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AuthorizationFilter</filter-name>
    <filter-class>com.manager.controller.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorizationFilter</filter-name>
    <url-pattern>/mainServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ControllerFilter</filter-name>
    <filter-class>com.manager.controller.ControllerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ControllerFilter</filter-name>
    <url-pattern>/mainServlet</url-pattern>
  </filter-mapping>
</web-app>